In [3]:
import numpy as np
import pandas as pd
df=pd.read_csv("students_placement.csv")

In [4]:
df.shape

(300, 4)

In [5]:
df.sample(5)

     cgpa   iq  profile_score  placed
57   6.46  109             61       0
276  6.89  104             81       1
18   7.05   97             62       1
150  5.67  103             68       0
63   7.24   95             43       1

In [6]:
X=df.drop(columns=["placed"])
Y=df["placed"]

# Without Scaling

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.25,random_state=2)

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score


# scaler=StandardScaler()
# x_train_scaled=scaler.fit_transform(x_train)
# x_test_scaled= scaler.transform(x_test)
LG=LogisticRegression().fit(x_train,y_train)
y_pred=LG.predict(x_test)
accuracy_score(y_test,y_pred)

x_test_scaled

result=LG.predict(np.array([[6,96,32]]))
result[0]

NameError: name 'x_test_scaled' is not defined

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.25,random_state=2)

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score


scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled= scaler.transform(x_test)
LG=LogisticRegression().fit(x_train_scaled,y_train)
y_pred=LG.predict(x_test_scaled)
accuracy_score(y_test,y_pred)

result=LG.predict(scaler.transform([[6,96,32]]))

result[0]

C:\Users\Akashay\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

1

# pickeling and unpickeling

In [9]:
import pickle
pickle.dump(LG,open("model.pkl","wb"))

In [10]:
df.sample(10)

     cgpa   iq  profile_score  placed
72   6.15   85             63       1
98   7.27   91             70       1
67   5.56  107             95       0
145  6.13  107             78       0
281  7.60  103             64       0
181  6.17  115             52       0
214  5.80  107             92       0
198  6.64   98             49       1
261  7.51   90             69       1
257  5.54  107             76       0

In [12]:
LG.predict(np.array([[7,90,69]]))

array([0], dtype=int64)